            /* stories */
            .v8c10jal.v8c10jal{
                display:none;
            }
            .bp9cbjyn.cwj9ozl2.j83agx80.cbu4d94t.ni8dbmo4.stjgntxs.l9j0dhe7.k4urcfbm > div{
                min-width:0 !important
              }
              /* feed */
              .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.pfnyh3mw.taijpn5t.gs1a9yip.kbz25j0m.btwxx1t3.sv5sfqaa.o22cckgh.obtkqiv7.fop5sh7t{
                margin: 0;
              }
              /* comments in comment view */
              .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.pfnyh3mw.d2edcug0.hpfvmrgz.hybvsw6c.gitj76qy.dp1hu0rb.kelwmyms.dzul8kyi.e69mrdg2{
                max-height: 100%;
              }
              /* buttons on photo in comment view */
              .n7fi1qx3.ni8dbmo4.stjgntxs.pmk7jnqg.kr520xx4.tkr6xdv7{
                display:none;
              }
              /*bye wasted screen space*/
              .iqfcb0g7.l9j0dhe7.taijpn5t.datstx6m.buofh1pr.j83agx80.bp9cbjyn,
              .j83agx80.cbu4d94t.buofh1pr.datstx6m.p01isnhg.l9j0dhe7.iqfcb0g7.tqsryivl,
              .bp9cbjyn.j83agx80.l9j0dhe7.pw8zj2ei.bkyfam09,
              .bp9cbjyn.j83agx80.l9j0dhe7.nos9j3a5,
              .rq0escxv.l9j0dhe7.du4w35lb.j83agx80.cbu4d94t.g5gj957u.d2edcug0.hpfvmrgz.rj1gh0hx.buofh1pr.q4kn84j7{
                flex-grow:0;
              height:unset;
            }