 
* {
  max-width: 100vw;
}
/* contacts */
/*._1enh._7q1s{
max-width:30px !important;
}*/
/*chat side*/
._4_j5{
display: none;
}
/* new msg */
._1enh._7q1s{
display: none;
}
/*chat content*/
._41ud{
margin-left:15px;
}
/*feed videos*/
._3058._15gf._3duc{
width: 100%;
}
/*mini pictures*/
/* ._1t_q ._1t_r, ._1t_q ._4ldz, ._1t_q  */
